<!-- fragments/header.html -->
<head th:fragment="header(titulo)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${titulo}">NutriConecta</title>

    <!-- Bootstrap local -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

</head>

/resources/templates/fragments/menu.html
<nav th:fragment="body" class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4">
    <div class="container">

        <a class="navbar-brand fw-bold text-success" href="/">NutriConecta</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/doacoes/listar">Doações</a></li>
                <li class="nav-item"><a class="nav-link" href="/solicitacoes/listar">Solicitações</a></li>
                <li class="nav-item"><a class="nav-link" href="/retiradas/listar">Retiradas</a></li>
                <li class="nav-item"><a class="nav-link" href="/usuarios/listar">Usuários</a></li>
            </ul>

        </div>
    </div>
</nav>
